@import '../../index.scss';

.triangle-bottom-left {
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-right: 50px solid transparent;
    border-bottom: 50px solid #ffffff;

    .triangle-image {
        transform: translate(-10%, 61%);
    }
}

.profile-available {
    border-left: 5px solid $primary-color;
    padding: 4% 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;

    .btn-style {
        font-weight: 400;
        align-self: center;
    }

    @media (max-width: 1200px) {
        border-left: none;
        flex-direction: column;
        align-items: flex-start;

        .btn-style {
            width: 100%;
            margin-top: 10px;
        }
    }
}

.image-wrapper {
    width: 100%;
    max-width: 400px;
    overflow: hidden;

    img {
        object-fit: cover;
    }

    .icon {
        @media(max-width:768px) {
            height: 30px !important;
            width: 30px !important;
        }

        @media(max-width:1000px) {
            height: 17px;
            width: 14px;
        }
    }

    @media (max-width: 768px) {
        .image-wrapper {
            max-width: 100%;
            height: 300px;
        }
    }
}

.expansion-panel {
    box-shadow: none !important;
    border-top: 1px solid #e0e0e0;
}

.history-line {
    border-left: 1px dashed $secondary-color;

    .title-highlight {
        left: -8px;
        font-size: large;
        color: $secondary-color;
        background-color: white;
    }

    .text-c {
        display: flex;
    }
}

.skill-tags {
    color: $secondary-color;
    border: 1px solid $secondary-color;
    cursor: pointer;
    padding: 1px 10px;
    margin: 5px 3px;


    &:hover {
        background-color: $hightlight-color;
    }
}

.experience-tags {
    // color: $secondary-color;
    border: 1px solid $light-gray;
    cursor: pointer;
    padding: 1px 10px;
    margin: 5px 3px;

    &:hover {
        background-color: $hightlight-color;
    }
}