@import '../../index.scss';

.box-shadow {
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
}

.image-wrapper-summary {
    width: 100%;
    height: 280px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @media (max-width: 768px) {
        .image-wrapper {
            max-width: 100%;
            height: 300px;
        }
    }
}

.about-container {
    height: 80px;
    overflow: hidden;
}

@media (max-width: 768px) {
    .about-container {
        height: 180px;
    }
}

@media (max-width: 576px) {
    .about-container {
        height: auto;
    }
}


.tags {
    // color: $secondary-color;
    border: 1px solid $light-gray;
    color: $text-muted;
    cursor: pointer;
    padding: 1px 10px;
    margin: 5px 3px;

    &:hover {
        color: $secondary-color;
        border: 1px solid $secondary-color;
        background-color: $hightlight-color;
    }
}

.triangle-bottom {
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-right: 35px solid transparent;
    border-bottom: 35px solid #ffffff;

    .triangle-image {
        transform: translate(-22%, 29%);
    }
}